<Title:>
  SoundStation - Home

<Body:>
  <app:pagination pages="{paginate-pages(songs, 200)}" currentPage="{page}">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Artist</th>
        <th class="visible-desktop">Album</th>
        <th class="visible-desktop">Genre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {#each paginate-array(songs, page, 200)}
        <tr>
          <td>{{id}}</td>
          <td>{title}</td>
          <td>{artist}</td>
          <td class="visible-desktop">{album}</td>
          <td class="visible-desktop">{genre}</td>
          <td>
            <a class="prevent-default" href="/play/{{id}}">Add</a>
            {#if isAdmin}
              &nbsp;-&nbsp;<a class="prevent-default" href="/playnow/{{id}}">Play</a>
            {/}
          </td>
        </tr>
      {/}
    </tbody>
  </table>

  <!-- Temporary, due to a possible partial bug in our version of Derby -->
  <div class="pagination">
    <ul>
      {#each paginate-pages(songs, 200)}
        <li><a href="/{{this}}/">{{this}}</li>
      {/}
    </ul>
  </div>
