<import: src="home">
<import: src="artists">
<import: src="albums">
<import: src="genres">
<import: src="songs">

<Root:>
  <html lang="en">

<Title:>
  SoundStation

<Head:>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

<Header:>
  <body>
  <ui:connectionAlert>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">SoundStation</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="{{homePage}}"><a href="/">All Songs</a></li>
            <li class="{{artistPage}}"><a href="/artists/">Artists</a></li>
            <li class="{{albumPage}}"><a href="/albums/">Albums</a></li>
            <li class="{{genrePage}}"><a href="/genres/">Genres</a></li>
          </ul>
          {#if isAdmin}
            <form method="post" class="navbar-form pull-right" id="logout" action="/logout">
              <button type="submit" class="btn">Sign Out</button>
            </form>
          {else}
            <form method="post" class="navbar-form pull-right" id="login" action="/login">
              <input name="pin" id="pin" class="span2" type="password" placeholder="Pin">
              <button type="submit" class="btn">Sign In</button>
            </form>
          {/}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="hero-unit">
      <h1>SoundStation</h1>

      {#if currentSong}
        <p><strong>Currently playing:</strong></p>
        <p>
          {currentSong.title}
          {#if currentSong.artist}, by {currentSong.artist}{/}
          {#if currentSong.album}&nbsp;in {currentSong.album}{/}
        </p>
        {#if isAdmin}
          <a class="prevent-default" href="/prev">Previous</a>
          &nbsp;-&nbsp;
          {#if playing}
            <a class="prevent-default" href="/stop">Stop</a>
          {else}
            <a class="prevent-default" href="/playnow/{{currentSong.id}}">Play</a>
          {/}
          &nbsp;-&nbsp;
          <a class="prevent-default" href="/next">Next</a>
        {/}
      {/}

      {#if queue}
        <p><strong>Queue:</strong></p>
        <ul>
          {#each addPosition(queue)}
            <li>
              {title}
              {#if artist}, by {artist}{/}
              {#if album}&nbsp;in {album}{/}
              {#if isAdmin}
                &nbsp;- <a class="prevent-default" href="/moveup/{position}">Up</a>
                &nbsp;- <a class="prevent-default" href="/movedown/{position}">Down</a>
                &nbsp;- <a class="prevent-default" href="/remove/{position}">Remove</a>
              {/}
            </li>
          {/}
        </ul>
      {/}
    </div>

<Tail:>
    <footer>
      <small>
        SoundStation on&nbsp;
        <a href="https://github.com/ethanaubuchon/SoundStation">Github</a>
      </small>
    </footer>

  </div><!-- /container -->

  <script src="/lib/jquery-1.9.1.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/js/ui.js"></script>

  </body>
  </html>
