<import: src="home">
<import: src="artists">
<import: src="albums">
<import: src="genres">
<import: src="songs">

<Root:>
  <html lang="en">

<Title:>
  SoundStation

<Head:>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

<Header:>
  <body>
  <ui:connectionAlert>
  <div class="topnav navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="brand" src="/img/logo.png" alt="SoundStation">
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="{{homePage}}"><a href="/">All Songs</a></li>
            <li class="{{artistPage}}"><a href="/artists/">Artists</a></li>
            <li class="{{albumPage}}"><a href="/albums/">Albums</a></li>
            <li class="{{genrePage}}"><a href="/genres/">Genres</a></li>
          </ul>
          {#if isAdmin}
            <form method="post" class="navbar-form pull-right" id="logout" action="/logout">
              <button type="submit" class="btn">Sign Out</button>
            </form>
          {else}
            <form method="post" class="navbar-form pull-right" id="login" action="/login">
              <input name="pin" id="pin" class="span2" type="password" placeholder="Pin">
              <button type="submit" class="btn">Sign In</button>
            </form>
          {/}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="hero-unit">
      {#if currentSong}
        <p class="lead"><strong>Currently playing:</strong></p>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn disabled song-attr prevent-default" href="#">
              {currentSong.title}<br />
              {#if currentSong.artist}{currentSong.artist}{/}
            </a>
          </div>
        </div>
        {#if isAdmin}
          <p>
          <a class="prevent-default" href="/prev">Previous</a>
          &nbsp;-&nbsp;
          {#if playing}
            <a class="prevent-default" href="/stop">Stop</a>
          {else}
            <a class="prevent-default" href="/resume/{{currentSong.id}}">Play</a>
          {/}
          &nbsp;-&nbsp;
          <a class="prevent-default" href="/next">Next</a>
          &nbsp;-&nbsp;
          {#if shuffle}
            <a class="prevent-default" href="/stopShuffle">Stop Shuffle</a>
          {else}
            <a class="prevent-default" href="/shuffle">Shuffle</a>
          {/}
          </p>
        {/}
      {else}
        <p class="lead"><strong>No Song Playing</strong></p>
      {/}

      {#if queue}
        <p class="lead"><strong>Queue:</strong></p>
          {#each addPosition(queue)}
          <div class="btn-toolbar">
            <div class="btn-group">
              <a class="btn disabled song-attr prevent-default" href="#">
                {title}<br />
                {#if artist}{artist}{/}
              </a>
              <a class="btn disabled song-attr-medium prevent-default" href="#">
                {#if equal(votes, 1)}
                  &nbsp;1 Vote
                {else}
                  &nbsp;{votes} Votes
                {/}
              </a>
              {#if hasVoted(voteIDs, sessionID)}
                <a class="btn disabled song-attr-small prevent-default" href="/unvote/{position}">
                  <i class="icon-ok"></i>
                </a>
              {else}
                <a class="btn song-attr-small prevent-default" href="/vote/{position}">
                  <i class="icon-ok"></i>
                </a>
              {/}
              
              {#if isAdmin}
                <button class="btn dropdown-toggle song-attr-small" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu right admin-options">
                  <li>
                    <a class="prevent-default" href="/moveup/{position}">
                      <i class="icon-arrow-up"></i>Move Up
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a class="prevent-default" href="/movedown/{position}">
                      <i class="icon-arrow-down"></i>Move Down
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a class="prevent-default" href="/remove/{position}">
                      <i class="icon-remove"></i>Remove
                    </a>
                  </li>
                </ul>
              {/}
            </div>
          </div>
          {/}
      {/}
    </div>
  </div><!-- /container -->
  <div class="content-wrapper">
    <div class="container">

<Tail:>

      <footer>
        <small>
          SoundStation on&nbsp;
          <a href="https://github.com/ethanaubuchon/SoundStation">Github</a>
        </small>
      </footer>
    </div><!-- /container -->
  </div><!-- /content-wrapper -->

  

  <script src="/lib/jquery-1.9.1.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/js/ui.js"></script>

  </body>
  </html>

<pagination:>
  {#if @pages}
    <div class="pagination">
      <ul>
        {#each @pages}
          <li><a href="{path}{this}/">{{this}}</li>
        {/}
      </ul>
    </div>
  {/}
