<Root:>
  <html lang="en">

<Title:>
  SoundStation - Home

<Head:>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

<Header:>
  <body>
  <ui:connectionAlert>

<Body:>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">SoundStation</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#">All Songs</a></li>
            <li><a href="#artists">Artists</a></li>
            <li><a href="#genres">Genres</a></li>
          </ul>
          <form class="navbar-form pull-right">
            <input class="span2" type="password" placeholder="Pin">
            <button type="submit" class="btn">Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="hero-unit">
      <h1>SoundStation</h1>
      <p>The current queue would be displayed here.</p>
    </div>

    <ul>
      {{#each songs}}
        <li><a href="/play/{{title}}">{{album}} --- {{title}} --- {{artist}} --- {{songPath}}</a></li>
      {{/}}
    </ul>

    <footer>
      <small>
        SoundStation on&nbsp;
        <a href="https://github.com/ethanaubuchon/SoundStation">Github</a>
      </small>
    </footer>

  </div><!-- /container -->

  <script src="lib/jquery-1.9.1.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>


<Tail:>
  </body>
  </html>
