<Title:>
  SoundStation - {songs.1.artist}

<Body:>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th class="visible-desktop">Album</th>
        <th class="visible-desktop">Genre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {#each songs}
        <tr>
          <td>{title}</td>
          <td>{artist}</td>
          <td class="visible-desktop">{album}</td>
          <td class="visible-desktop">{genre}</td>
          <td>
            <a class="prevent-default" href="/play/{{id}}">Add</a>
            {#if isAdmin}
              &nbsp;-&nbsp;<a class="prevent-default" href="/playnow/{{id}}">Play</a>
            {/}
          </td>
        </tr>
      {/}
    </tbody>
  </table>
